body{
    background-image: url("newidea.png");
    background-size: cover;
}

.headers {
    width: 95%;
    height: 200px;
}
.col1, .col2{
    width: 45%;
    display: inline-block;
}

.col2 {
    text-align: end;
    color:white;
}
li{
    display: inline-block;
}
a {
    text-decoration: none;
    padding: 10px;
    color: white;
}
a:hover{
    color:blueviolet;
    font-size: 20px;

}
.body {
    justify-content: center;
    color: white;
    width: 300px;
    display: flex;
    height: 450px;
    background-color: black;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 10px rgb(126, 122, 114);

}
form>div{
    padding: 10px;
}

.pp{
    display: block;
    justify-content: center;
    margin-bottom: 5px;
}

.big{
    /* background-color: black; */
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.tt{
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
}
.check{
    transform: scale(1.3);
}

.btn{
    background-color: transparent;
    color: white;
    margin-left: 60px;
    border-radius: 10px;
    width: 80px;
    height: 30px;

}

.as{
    padding: 5px;
}